<!DOCTYPE html>
<html>
  <head>
    <title>RonbunHub</title>
    <%= csrf_meta_tags %>
    <script src="/bundle.js" type="text/javascript"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
