<!DOCTYPE html>
<html>
  <head>
    <title>RonbunHub</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
  </head>

  <body>
    <%= yield %>
  </body>
  <script type="text/javascript" charset="UTF-8" src="/bundle.js"></script>
</html>
